<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Game Store index{% endblock %}</title>
    {% block header %}
    {% load static %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static '../static/bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static '../static/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
    <link rel="stylesheet" href="{% static '../static/font-awesome/css/font-awesome.min.css' %}">

    {% endblock %}
</head>
<body>
{% block nav %}
<div class="navbar visible-sm-up hidden-xs-down">
    <ul>
        <li><a href="/">Browse games</a></li>
        <li><a href='/rest/'>RESTful API</a></li>
        {% if not user.is_authenticated %}
        <li><a href="/register/">Register</a></li>
        <li><a href="/login/">Login</a></li>
        {% else %}
        <li><a href="/account/">My account</a></li>
        <li><a href="/logout/">Logout</a></li>
        {% endif %}
    </ul>
</div>
<div class='container container-fluid hidden-sm-up visible-xs'>
    <label for="menu-toggle"><i class="fa fa-align-justify" aria-hidden="t"></i></label>
    <input type="checkbox" id="menu-toggle"/>
    <div id='menu'>
        <ul>
            <li><a href="/">Browse games</a></li>
            <li><a href='/rest/'>RESTful API</a></li>
            {% if not user.is_authenticated %}
            <li><a href="/register/">Register</a></li>
            <li><a href="/login/">Login</a></li>
            {% else %}
            <li><a href="/account/">My account</a></li>
            <li><a href="/logout/">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>
