{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Edit password{% endblock %}

{% block header %}
{{ block.super }}
<link rel='stylesheet' type='text/css' href='{% static "style.css" %}'>
{% endblock %}

{% block content %}

<div class='container container-fluid'>
    <div class='modal-dialog'>

        <h1 class='text-center'>Edit Your Password</h1><br>
        <form action='/account/edit/password/' method='POST'>
            {% csrf_token %}
            <input class='margin' id='old_password' type='password' name='old_password' placeholder='Old password'><br>
            <input class='margin' id='password' type='password' name='password' placeholder='New password'><br>
            <input class='margin' id='password_check' type='password' name='password_check' placeholder='Retype password'><br>
            <div class='text-center'>
                <input type='submit' value='Submit changes'>
            </div>

        </form>

    </div>
</div>


{% endblock %}