{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Edit name{% endblock %}

{% block header %}
{{ block.super }}
<link rel='stylesheet' type='text/css' href='{% static "style.css" %}'>

{% endblock %}

{% block content %}

<div class='container container-fluid'>
    <div class='modal-dialog'>

        <h1 class='text-center'>Edit Your Name</h1><br>
        <form action='/account/edit/name/' method='POST'>
            {% csrf_token %}

            <label for='first_name'>First name</label>
            <input class='margin' id='first_name' type='text' name='first_name' placeholder='First name'
                   value='{{ request.user.first_name}}'><br>
            <label for='last_name'>Last name</label>
            <input class='margin' id='last_name' type='text' name='last_name' placeholder='Last name'
                   value='{{ request.user.last_name}}'><br>
            <div class='text-center'>
                <input type='submit' value='Submit changes'>
            </div>

        </form>

    </div>
</div>


{% endblock %}